[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/subhajit08pal
[access "refs/for/refs/*"]
	read = group user/subhajit08pal
	push = group user/subhajit08pal
	label-Code-Review = -2..+2 group user/subhajit08pal
	label-Verified = -1..+1 group user/subhajit08pal
	rebase = group user/subhajit08pal
	removeReviewer = group user/subhajit08pal
	submit = group user/subhajit08pal
[access "refs/heads/*"]
	read = group user/subhajit08pal
	create = group user/subhajit08pal
	push = +force group user/subhajit08pal
	pushMerge = group user/subhajit08pal
[access "refs/tags/*"]
	push = group user/subhajit08pal
	push = +force group user/subhajit08pal
